@media screen and (min-width: 1024px) {
    .fondo {
        background-image: url('../img/fondopc.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}   
.Inicio{
    color: white;
    text-align: center;
}
h1{
    font-size: 30px;
    color: white;
}